{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
    <div class="jumbotron">
      <div class="container">
        <h1>PryNotes</h1>
        <p>With PryNotes you can create notes, be organized, save website clippings, and make sure all your data is safe and available to you anywhere or anytime.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/learnmore">Learn more &raquo;</a></p>
      </div>
    </div>    
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-briefcase"></span>Organize</h2>
          <p>Keep your notes organized in file cabinets and notebooks.  Keep your life or business organized and stream lined for maximum efficiency.</p>
        </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-lock"></span>Encrypted</h2>
          <p>It's your data.  Keep it safe and secure.  We encrypt all note bodies with 256 bit encryption.  We don't want to know what you have in your notes, and believe others should not either. </p>
       </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-ok"></span>Access Anywhere</h2>
          <p>Keeping your notes, ideas, and interests stored within your notes allows you to access your data from anywhere.  This will protect you from losing data or devices that contain your important information.  Access your data where ever you go and when ever you want.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-link"></span>Share Notes</h2>
          <p>Share your notes with a shared URL link to anyone.  No PryNotes account is needed to see the notes you have shared with someone.</p>
        </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-user"></span>Privacy</h2>
          <p>We will always respect your privacy.  We do not go through your notes for ads, sell your data to advertising companies, or keep track of you personally.  You can read more in our help section about the privacy steps we take. </p>
       </div>
        <div class="col-md-4">
          <h2><span class="glyphicon glyphicon-floppy-saved"></span>Save The Web</h2>
          <p>Find an interesting article or recipie online?  Save it to your notes and access it anywhere, anytime.  We do the website html so you don't have to.</p>
        </div>
      </div>      
    </div> <!-- /container -->    
{% endblock %} 
