<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <!-- Carousel================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <p><img src="/static/img/Filecabinetimg.png"></p>
              <h1>Get Organized!</h1>
              <p>Organize your notes and notebooks within filecabinets.  This is just like your file cabinet at home, but with this one you can access anywhere.</p>
              <p><a class="btn btn-lg btn-primary" href="/login" role="button">Sign up today - Free</a></p>
            </div>
          </div>
        </div>      
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <p><img src="/static/img/example1.png"></p>
              <h1>Save Website Clippings</h1>
              <p>You can copy and paste from websites to keep a copy for yourself.  This is great for news articles, recipes, research, or anything else you want to see again.</p>
              <p><a class="btn btn-lg btn-primary" href="/login" role="button">Sign up today - Free</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <p><img src="/static/img/Editing.png"></p>
              <h1>Edit Your Notes How You Want Them</h1>
              <p>Using the rich text editor you can change fonts, font size, line height, etc. You can have tables, lists, or images.  Create good looking notes, or keep quick and dirty notes.  The choice is yours.</p>
              <p><a class="btn btn-lg btn-primary" href="/help" role="button">Help Section</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- START THE FEATURETTES -->      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="glyphicon glyphicon-paperclip"></span> Attach files to your notes.  <span class="text-muted" style="font-size:80%">Documents, pictures, or archives.</span></h2>
          <p class="lead">Attach a file to your note that you can access later.  These can be important documents that go with your note, or they can be as simple as pictures.  Attaching a file will add a link on your note that will download your file anywhere, anytime.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="glyphicon glyphicon-link"></span> Share your notes.  <span class="text-muted" style="font-size:80%">Send anyone a link to your notes</span></h2>
          <p class="lead">You can create a shared URL link to your note that you can send to anyone.  They can then see and print your note with no need to have a PryNotes account.</p>
        </div>
      </div>
      

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="glyphicon glyphicon-phone"></span> No computer? <span class="text-muted">No Problem.</span></h2>
          <p class="lead">PryNotes.com will work on most newer smart phones and tablets.  If you have any problems you can send us an issue report through our GitHub page.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      
      <div class="row featurette">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="glyphicon glyphicon-resize-small"></spand>Merge notes together. <span class="text-muted"> Merge two notes into one note.</span></h2>
          <p class="lead">If your doing research and have multiple notes about a topic, you can easily merge two notes together.  The note just gets appended onto the other note.</p>
        </div>
      </div>     
      <!-- /END THE FEATURETTES --> 
      <p style="text-align:center"><a class="btn btn-lg btn-primary" href="/login" role="button">Sign up today - Free</a></p>
    </div>
{% endblock %} 