 <!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="container">
<h2>
        Privacy Policy
</h2>

<p>
        Your privacy is very important to us. We do not want your personal information.  Our web server logs ip addresses of those who visit the website, but it is not linked to any particular user.  We then count the visits to the website and the countries that the visits came from.  We then promptly delete the logs.  Logs are deleted as quickly as we can after archived (daily).
</p>

<p>
        We only have your email address, and we simply do not want anything more.  We will not email you unless we absolutely have to.  We will not sell your information and there will be no mining your data for information.
</p>

<p>
        If at anytime you want to check how we are maintaining your information you can look through our source code on <a href="https://github.com/derek3x/PryNotes" target="_blank">GitHub.</a>  We share our code to everyone so that everyone can feel safe.
</p>
<p>
        We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
</p>   
</div>
{% endblock %} 
