<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="container">
    <div class="btn-group-xs">
        <a href="{{url_for('gobyebye')}}" class="btn btn-danger pull-right confirmaccount"> Delete Account</a>
    </div>
    <h1>User: {{user.nickname}}</h1>
    {% if user.last_seen %}<p><i>Last seen on: {{user.last_seen}}</i></p>{% endif %}
    <hr>
    <h2>Edit Your Nickname:</h2>
    <form class="bs-example form-horizontal" action="" method="post" name="edit">
        {{form.hidden_tag()}}
        <div class="form-group">
            <label for="nickname" class="col-lg control-label">Your new nickname:</label>
            {{form.nickname(type="text", class="form-control", style="width:35%")}}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>
{% endblock %} 
