<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="container">
    <div class="btn-group-xs">
        <a href="{{url_for('gobyebye')}}" class="btn btn-danger pull-right confirmaccount"> Delete Account</a>
    </div>
    <h2><span class="glyphicon glyphicon-user"></span> User: {{user.nickname}}</h2>
    {% if user.last_seen %}<p><em>Last seen: {{momentjs(user.last_seen).calendar()}}</em></p>{% endif %}
    <hr>
    <h3><span class="glyphicon glyphicon-pencil"></span> Edit Your Nickname:</h3>
    <form action="" method="post" name="edit">
        {{form.hidden_tag()}}
        <div class="form-group">
            <label for="nickname" class="col-lg control-label">Your new nickname:</label>
            {{form.nickname(type="text", class="form-control", style="width:35%")}}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>
{% endblock %} 
