<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="container">

<h2>
        Web Site Terms and Conditions of Use
</h2>

<h3>
        1. Terms
</h3>

<p>
        By accessing this web site, you are agreeing to be bound by these 
        web site Terms and Conditions of Use, all applicable laws and regulations, 
        and agree that you are responsible for compliance with any applicable local 
        laws. If you do not agree with any of these terms, you are prohibited from 
        using or accessing this site. The materials contained in this web site are 
        protected by applicable copyright and trade mark law.
</p>

<h3>
        2. Use License
</h3>
<p>
    <a href="https://github.com/derek3x/PryNotes/blob/master/LICENSE" target="_blank">GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007</a>
</p>

<h3>
        3. Disclaimer
</h3>

<ol type="a">
        <li>
                The materials on PryNotes.com's web site are provided "as is". PryNotes.com makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchant ability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, PryNotes.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
        </li>
</ol>

<h3>
        4. Limitations
</h3>

<p>
        In no event shall PryNotes.com or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on PryNotes.com's Internet site, even if PryNotes.com or a PryNotes.com authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
</p>
                        
<h3>
        5. Revisions and Errata
</h3>

<p>
        The materials appearing on PryNotes.com's web site could include technical, typographical, or photographic errors. PryNotes.com does not warrant that any of the materials on its web site are accurate, complete, or current. PryNotes.com may make changes to the materials contained on its web site at any time without notice. PryNotes.com does not, however, make any commitment to update the materials.
</p>

<h3>
        6. Links
</h3>

<p>
        PryNotes.com has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by PryNotes.com of the site. Use of any such linked web site is at the user's own risk.
</p>

<h3>
        7. Site Terms of Use Modifications
</h3>

<p>
        PryNotes.com may revise these terms of use for its web site at any time without notice, but will add a notice to the first page (index.html) that the terms have been updated. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</p>    
<h3>
        8. Termination
</h3>
<p>
        These Terms and Conditions of Use are effective until terminated by either party. If you no longer agree to be bound by these Terms and Conditions, you must cease use of the Website. If you are dissatisfied with the Website, their content, or any of these terms, conditions, and policies, your sole legal remedy is to discontinue using the Website. The Operators reserve the right to terminate or suspend your access to and use of the Website, or parts of the Website, without notice, if we believe, in our sole discretion, that such use (i) is in violation of any applicable law; (ii) is harmful to our interests or the interests, including intellectual property or other rights, of another person or entity; or (iii) where the Operators have reason to believe that you are in violation of these Terms and Conditions of Use.
</p>
<h3>
        Privacy Policy
</h3>
<p>
        <a href="{{url_for('privacy')}}">Policy</a>
</p>
</div>
{% endblock %} 
